* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.app-container {
  height: 100vh;
  width: 100%;
}

// main {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
.clean-list {
  list-style: none;
}

.clean-link {
  text-decoration: none;
  color: inherit;
}
