.flex {
  display: flex;

  > *.full {
    flex: 1;
  }
  &.column {
    flex-direction: column;
  }
  &.justify-center {
    justify-content: center;
  }
  &.align-center {
    align-items: center;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.align-end {
    align-items: flex-end;
  }
  &.align-start {
    align-items: flex-start;
  }
  &.wrap {
    flex-wrap: wrap;
  }
}

.space-header {
  margin-top: 45px;
}

.clean-link {
  text-decoration: none;
  color: inherit;
}

.clean-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.h-screen {
  height: 100vh;
}

.pointer {
  cursor: pointer;
}
