.chef-table {
  margin: auto;
  padding: 40px 0 50px;
  display: flex;
  flex: 0;
  flex-direction: row;
  gap: 5px;
  width: 100%;

  .dishes {
    display: flex;
    flex: 0;
    justify-content: center;
  }
}

@media only screen and (max-width: 599px) {
  .chef-table {
    display: none;
  }
}
